html{
    font-size: 28px;
}

body{
    margin: 10px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    line-height: 49px;

}

h3{
    font-size: 1rem;
    font-style: italic;
    line-height: 32px;
}

h1, h2, h3{
    margin: 0px 10px;
}

div:nth-child(even){
width: 75%;
}
div:nth-child(odd){
    width: 50%;
}

.first {
background-color: #55B3B9;
}

.second {
    background-color: #C56060;
    color: rgba(34, 34, 34, 0.69);
}

.third {
    background-color: #8FC091;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);
}

.fourth {
    background-color: #8F86AF;
    text-decoration: line-through;
    color: rgba(46, 46, 46, 0.42);
}

.third h2{
    font-size: 24px;
}

.third h3{
    font-size: 16px;
    text-decoration: underline;
    font-family: 'Great Vibes';
    margin: -10px 0px;
}

.second h3, .fourth h3{
    font-family: 'Playfair Display', serif;
}

.block{
    height: 150px;
    transition: 0.5s;
    margin: 10px 0px;
}

.block:hover {
    font-size: 100px;
    background-color: red;
}



